# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfplan
terraform.tfvars
*.auto.tfvars
!terraform.tfvars.example
backend.hcl
backend.ci.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# IDE / OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Logs e temporários
*.log
tmp/
temp/
